/configs
/data_out
/oasis_venv_pi
/rusty_locks/target
/rusty_pins/target
/rusty_pipes/target
/target/
Cargo.lock

# Byte-compiled / optimized / DLL files
__pycache__/
.pycache/
*.py[cod]
*$py.class
*.pyc

# Python
*.egg-info/
*.egg
dist/
build/
.venv/
venv/
oasis_venv_pi/

# C extensions
*.so

# C++
*.d
*.o
*.elf

# Distribution / packaging
.Python
env/
bin/
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
include/
man/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

.DS_Store

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# VSCode
.vscode/

# Pyenv
.python-version